////
// muicss
////

@import "../../node_modules/muicss/lib/sass/mui-colors";

$app-bg-color: mui-color('black-alpha-87');
$app-fg-color: rgba(255, 255, 255, 1);
$mui-appbar-bg-color: rgba($app-fg-color, .35);

$app-sidebar-fg-color: $app-fg-color;
$app-sidebar-bg-color: rgba($app-sidebar-fg-color, .1);
$app-sidebar-width: 300px;
$app-footer-height: 30px;

@import "../../node_modules/muicss/lib/sass/mui";

////
// global
////

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: $app-bg-color;
    color: $app-fg-color;
}

a {
    color: $app-fg-color;
    cursor: pointer;
}

////
// header
////

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

header .app--sidebar-trigger {
    cursor: pointer;
    -webkit-animation: spin-slow 4s linear infinite;
    animation: spin-slow 4s linear infinite;
    animation-play-state: paused;
}

header .app--sidebar-trigger:hover{
    animation-play-state: running;
}

@-webkit-keyframes spin-slow { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin-slow { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

header .app--brand {
    margin-right: 1em;
}

header a {
    color: $mui-appbar-font-color;
}

////
// sidebar
////

#sidebar {
    position: fixed;
    top: $mui-appbar-height + 15;
    right: (-$app-sidebar-width/2 - 50);
    bottom: 0;
    width: $app-sidebar-width/2;
    overflow: auto;
    transition: right 0.2s;
    background-color: $app-sidebar-bg-color;
}

#sidebar, #sidebar a, #sidebar label {
    color: $app-sidebar-fg-color;
}

#sidebar .mui-divider {
    background-color: $app-sidebar-fg-color;
}

#sidebar .mui-panel {
    background-color: rgba($app-sidebar-fg-color, 0.15);
}

#sidebar .mui-dropdown {
    // background-color: rgba($app-sidebar-fg-color, 0.8);
    // color: rgba($app-fg-color, 1);
}

#sidebar .mui-dropdown__menu {
    background-color: rgba($app-sidebar-fg-color, .7);
    color: rgba($app-fg-color, 1);
}

#sidebar .mui-dropdown__menu a {
    color: rgba($app-bg-color, 1);
}

@media (min-width: 768px) {
    #sidebar {
        width: $app-sidebar-width;
        right: 0;
    }
}

////
// main
////

#content {
    min-height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

////
// footer
////

.app--footer-content {
    padding-top: .5em;
    padding-bottom: .5em;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: $app-footer-height;
    background-color: rgba($app-sidebar-fg-color, .5);
    box-sizing: border-box;
}

footer, footer a {
    color: $app-sidebar-fg-color;
}

////
// misc
////

.router-link-active {
    background-color: $mui-primary-color;
    color: white;
}
.router-link-active:hover {
    cursor: pointer;
}
